@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome-sprockets";
@import "font-awesome";
$nprogress-color: #fff;
@import "nprogress";
@import "nprogress-bootstrap";
@import "pages";
@import "navbar-home";
@import "navbar-user";
@import "users";


html {
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
  margin-top:40px;
  background-color:#EEF1F2;
}

.user-container{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #2E3234;
}

body > .container {
  padding: 60px 15px 0;
}
.footer > .container p {
  margin: 10px 0;
  float: right;
}

.footer a{
  margin: 0px 5px ;
  color: #fff;
}

.footer p{
  margin: 0px 5px ;
  color: #fff;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
